
body {
  font-family: 'Jost';
}

.react-autosuggest__container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.react-autosuggest__input {
  width: 300px; 
  height: 20px;
  padding: 10px;
  margin-right: 2rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 30px; 
  transition: border-color 0.7s ease;
}

.react-autosuggest__input:focus {
  border-color: #ef3a38 !important; 
}

.react-autosuggest__suggestions-container {
  display: none;
  position: absolute;
  width: 91%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100; 
  background-color: #fff;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  list-style-type: none;
}

.react-autosuggest__suggestions-list {
  padding-left: 0;
}

.react-autosuggest__suggestion {
  padding: 8px;
  cursor: pointer;
  list-style-type: none;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}
