.selected-street-view-container {
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.selected-card {
  width: 40%;
  height: 100%;
  margin: 0;
  margin-bottom: 8px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-width: 600px;
  max-height: 400px;
}

.selected-card img {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.selected-card img.expanded {
  height: 100%;
}

.selected-card:hover {
  background-color: #E6E7E8;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
